body {
	font-family: Georgia, Times, "Times New Roman", serif;
	max-width: 1000px;
	margin: 0 auto;
	line-height: 1.4;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background-image: none;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("../assets/background.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h1 {
	color: #e9b140;
	text-shadow: 1px 1px #003344;
}

a {
	color: #f5deb3;
	text-decoration: none;
	font-weight: 600;
	transition: color 0.2s ease;
	text-shadow: 1px 1px #003344;
}

a:hover {
	color: #f5deb3;
	text-decoration: underline;
}

.jump {
	color: #f5deb3;        
  	margin: 0 8px;      
  	font-weight: bold;
  	font-size: 1.2em;
  	text-shadow: 1px 1px #003344;
}

.linker {
	grid-template-rows: repeat(1, minmax(0, 1fr));
	display: grid;
}